body {
    /* background: linear-gradient(to left, #79E0EE, #98EECC, #D0F5BE, #FBFFDC  )!important; Gradient from blue to light blue */
    background: url("night.jpg") no-repeat;  
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

} 

.converter-container {
    max-width: 400px;
    margin: 30px auto 25px;
    padding: 20px;
    /* background-color: rgb(252, 246, 255)!important; */
    background-color: transparent !important;
    border: 2px solid rgba(224, 212, 212, 0.616);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px!important;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.592)!important;
}

.result-container {
    background-color: #d0f0d8!important;
    border-color: #c3e6cb!important;
    color: #882175!important;
    padding: 10px;
    border-radius: 5px!important;
    margin-top: 15px;
    font-size: medium;
}

.error-message {
    color: #8b1c27!important;
    background-color: #f8d7da!important;
    border-color: #f5c6cb!important;
    padding: 10px;
    border-radius: 5px!important;
    margin-top: 15px;
}

.btn-primary {
    margin-top: 25px;
    background-color: #fdf4f4!important;            
    border-color: rgb(255, 255, 255)!important;
    border-radius: 30px;
    color: #000!important;
    font-size: large;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #8e8c96!important; 
    border-color: #ffffff!important;
}

 /* Footer Styles */
 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #5ca3be;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

